body {
    font-family: Helvetica Neue, Arial, sans-serif;
    text-align: center;
  }

  .tdshowing, .thshowing {
    border: 1px solid #000000;
    text-align: left;
    font-size: 14px;
    padding: 4px;
  }

  .tdshowingrest {
    border: 1px solid #000000;
    text-align: center;
    font-size: 14px;
    padding: 4px;
  }
  .thshowinghead { 
    border: 1px solid #000000;
    text-align: right;
    padding: 4px;
  }

  .thshowinglegend { 
    border: 1px solid #000000;
    text-align: center;
    padding: 4px;
  }

  #container {
    width: 90%;
  }
  
  #container div {
    float: left;
    /* height: 800px; */
    width: 90%;
  }
  .chart{
    height: 300px;
    width: 600px;
  }
  a {
    display: inline;
    color: #3e95cd;
  }

  div>table {
    float: left;
    margin: 5px;
  }

  .navbar {
    background-color:#039;
  }
    
  .navbar-dark .navbar-nav .nav-link{
    color:#FFFFFF;
  }
    
  .navbar-dark .navbar-nav .nav-link:focus,
  .navbar-dark .navbar-nav .nav-link:hover {
    color:#FFFFFF;
    text-decoration: underline;
  }
    
  .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
    
  .navbar-dark .navbar-toggler {
    color: rgba(255,255,255);
    border-color: rgba(255,255,255,.5);
  }

  .cryptedmail:after {
    content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); 
  }