{% extends "base.html" %}
{% load static %}
{% block content %}
{% static "" as baseUrl %}
<section class="section-content py-5">    
    <p>
        <h4>LV oder RB nicht gefunden!</h4>
        Leider existiert der aufgerufene LV/RB aktuell nicht. Interesse das zu ändern? Dann bitte hier melden:
    <a href="#" class="cryptedmail"
        data-name="dashboard"
        data-domain="thw-bornheim"
        data-tld="de"
        onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;"></a>
    </p>
</section>

{% endblock %}
