{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <script nonce="neededJS" type="text/javascript" src="{% static 'javascript/jquery.slim.min.js' %}"></script>
    <script nonce="neededJS" type="text/javascript" src="{% static 'javascript/popper.min.js' %}"></script>
    <script nonce="neededJS" type="text/javascript" src="{% static 'javascript/bootstrap.min.js' %}"></script>
    <script nonce="neededJS" type="text/javascript" src="{% static 'javascript/Chart.min.js' %}"></script>
    <script nonce="neededJS" type="text/javascript" src="{% static 'javascript/corona.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/corona.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.svg' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona - Aktuell {{ rb_name }}</title>
</head>

<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">Corona Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            BEBBST
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/be/">Übersicht</a>
            <a class="dropdown-item" href="/be/berlin">Berlin</a>
            <a class="dropdown-item" href="/be/frankfurt(oder)">Frankfurt(Oder)</a>
            <a class="dropdown-item" href="/be/halle">Halle</a>
            <a class="dropdown-item" href="/be/magdeburg">Magdeburg</a>
            <a class="dropdown-item" href="/be/potsdam">Potsdam</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            BW
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/bw/">Übersicht</a>
            <a class="dropdown-item" href="/bw/biberach">Biberach</a>
            <a class="dropdown-item" href="/bw/freiburg">Freiburg</a>
            <a class="dropdown-item" href="/bw/göppingen">Göppingen</a>
            <a class="dropdown-item" href="/bw/heilbronn">Heilbronn</a>
            <a class="dropdown-item" href="/bw/karlsruhe">Karlsruhe</a>
            <a class="dropdown-item" href="/bw/mannheim">Mannheim</a>
            <a class="dropdown-item" href="/bw/stuttgart">Stuttgart</a>
            <a class="dropdown-item" href="/bw/tübingen">Tübingen</a>
            <a class="dropdown-item" href="/bw/villingen-schwenningen">Villingen-Schwenningen</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            BY
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/by/">Übersicht</a>
            <a class="dropdown-item" href="/by/badtölz">Bad Tölz</a>
            <a class="dropdown-item" href="/by/bamberg">Bamberg</a>
            <a class="dropdown-item" href="/by/hof">Hof</a>
            <a class="dropdown-item" href="/by/ingolstadt">Ingolstadt</a>
            <a class="dropdown-item" href="/by/karlstadt">Karlstadt</a>
            <a class="dropdown-item" href="/by/kempten">Kempten</a>
            <a class="dropdown-item" href="/by/mühldorf">Mühldorf</a>
            <a class="dropdown-item" href="/by/münchen">München</a>
            <a class="dropdown-item" href="/by/nürnberg">Nürnberg</a>
            <a class="dropdown-item" href="/by/schwandorf">Schwandorf</a>
            <a class="dropdown-item" href="/by/straubing">Straubing</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            HBNI
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/ni/">Übersicht</a>
            <a class="dropdown-item" href="/ni/braunschweig">Braunschweig</a>
            <a class="dropdown-item" href="/ni/bremen">Bremen</a>
            <a class="dropdown-item" href="/ni/buxtehude">Buxtehude</a>
            <a class="dropdown-item" href="/ni/göttingen">Göttingen</a>
            <a class="dropdown-item" href="/ni/hannover">Hannover</a>
            <a class="dropdown-item" href="/ni/lingen">Lingen</a>
            <a class="dropdown-item" href="/ni/oldenburg">Oldenburg</a>
            <a class="dropdown-item" href="/ni/verden">Verden</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            HERPSL
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/rp/">Übersicht</a>
            <a class="dropdown-item" href="/rp/badkreuznach">Bad Kreuznach</a>
            <a class="dropdown-item" href="/rp/darmstadt">Darmstadt</a>
            <a class="dropdown-item" href="/rp/frankfurt">Frankfurt</a>
            <a class="dropdown-item" href="/rp/gelnhausen">Gelnhausen</a>
            <a class="dropdown-item" href="/rp/gießen">Gießen</a>
            <a class="dropdown-item" href="/rp/homberg">Homberg</a>
            <a class="dropdown-item" href="/rp/koblenz">Koblenz</a>
            <a class="dropdown-item" href="/rp/merzig">Merzig</a>
            <a class="dropdown-item" href="/rp/neustadt">Neustadt a.d.W.</a>
            <a class="dropdown-item" href="/rp/saarbrücken">Saarbrücken</a>
            <a class="dropdown-item" href="/rp/trier">Trier</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            HHMVSH
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/sh/">Übersicht</a>
            <a class="dropdown-item" href="/sh/hamburg">Hamburg</a>
            <a class="dropdown-item" href="/sh/lübeck">Lübeck</a>
            <a class="dropdown-item" href="/sh/neumünster">Neumünster</a>
            <a class="dropdown-item" href="/sh/schleswig">Schleswig</a>
            <a class="dropdown-item" href="/sh/schwerin">Schwerin</a>
            <a class="dropdown-item" href="/sh/stralsund">Stralsund</a>
          </div>
        </li>        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            NRW
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/nw/">Übersicht</a>
            <a class="dropdown-item" href="/nw/aachen">Aachen</a>
            <a class="dropdown-item" href="/nw/arnsberg">Arnsberg</a>
            <a class="dropdown-item" href="/nw/bielefeld">Bielefeld</a>
            <a class="dropdown-item" href="/nw/bochum">Bochum</a>
            <a class="dropdown-item" href="/nw/dortmund">Dortmund</a>
            <a class="dropdown-item" href="/nw/düsseldorf">Düsseldorf</a>
            <a class="dropdown-item" href="/nw/gelsenkirchen">Gelsenkirchen</a>
            <a class="dropdown-item" href="/nw/köln">Köln</a>
            <a class="dropdown-item" href="/nw/mönchengladbach">Mönchengladbach</a>
            <a class="dropdown-item" href="/nw/münster">Münster</a>
            <a class="dropdown-item" href="/nw/olpe">Olpe</a>
            <a class="dropdown-item" href="/nw/wesel">Wesel</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            SNTH
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/th/">Übersicht</a>
            <a class="dropdown-item" href="/th/chemnitz">Chemnitz</a>
            <a class="dropdown-item" href="/th/dresden">Dresden</a>
            <a class="dropdown-item" href="/th/erfurt">Erfurt</a>
            <a class="dropdown-item" href="/th/leipzig">Leipzig</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/az/">Ausbildungszentren</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/de/">Deutschland</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/uebersicht/">Übersicht</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/statistiken/">Statistiken</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/hinweise/">Hinweise</a>
        </li>
      </ul>
    </div>
  </nav>
    {% block content %}
    {% endblock %}
</body>
</html>