{% extends "base.html" %}
{% load static %}
{% block content %}
{% static "" as baseUrl %}
<section class="section-content py-5">
    <p>
        <h4>Wo kommen die Daten her?</h4>
        Die Daten werden von einer API bezogen, welche sich auf die Daten vom Robert-Koch-Institut (RKI) bezieht.
        Das RKI übermittelt täglich die Daten für alle Städte und Landkreise. Das RKI Dashboard für die Landkreise und für ganz Deutschland
        bezieht die Daten aus der gleichen API wie dieses Dashboard. Dadurch sind die Daten auf beiden Seiten gleich. Die aktualität der Daten
        ist abhängig vom RKI. Es kann daher sein, dass die Angaben der Städte und Kreise eventuell abweichen.
    </p>
    
    <p>
        <h4>Wann werden die Daten aktualisiert?</h4>
        Eine Aktualisierung findet grundsätzlich jede halbe Stunde statt. Jeden Tag wird morgens zwischen 5 und 10 Uhr
        alle 5 Minuten überprüft ob es neue Daten gibt. Aufgrund der bisherigen Erfahrung mit der Übermittlung der Daten vom RKI
        hat sich gezeigt, dass überwiegend zwischen 5 und 10 Uhr mit den aktuellen Daten zu rechnen ist. Da die Daten nur einmal täglich 
        übermittelt werden reicht es nach 10 Uhr aus jede halbe Stunde sicherheitshalber noch mal auf Aktualisierungen zu prüfen.
    </p>
    <p>
        <h4>Alle Städte und Kreise haben dieselben Werte wie gestern?</h4>
        Da in der API nur der Wert für den aktuellen Tag ausgegeben wird, werden automatisch nach 0 Uhr die Werte vom Vortag für den heutigen Tag angezeigt.
        Dadurch ist natürlich die Tendenz nicht korrekt, da gestern und heute die gleichen Werte betrachtet werden.
        Sobald neue Daten vom RKI vorliegen werden diese übernommen, sodass die Tendenz neu berechnet wird und entsprechend sich verändert.
        Sind also in der Übersicht alle Städte und Kreise von den Fallzahlen identisch zum Vortag, so ist dies ein Zeichen dafür, dass noch keine neuen Daten
        vom RKI vorliegen.
    </p>
    <p>
        <h4>Allgemeine Hinweise</h4>
        Die Übersicht hat zwei Sortierungsoptionen eingebaut. Es ist möglich entweder nach Kreisen oder Fallzahlen zu sortieren. Dazu genügt ein
        Klick auf die Spaltenbezeichnung Kreis und Fallzahlen. Durch eine erneute Auswahl wird die Sortierung entsprechend umgekehrt. Die gleiche Sortierung
        befindet sich nun auch auf den Seiten der Regionalbereiche. Auch hier kann nach Fallzahlen und Kreisen sortiert werden.
        Zusätzlich bietet die Übersichtsseite der Landesverbände eine Suchmakse um nach Kreis oder Ortsverband filtern zu können.
        Bei den Fallzahlen handelt es sich um die Fallzahlen pro 100 000 Einwohner der letzten 7 Tage.
        Die Graphen auf den Seiten der Regionalbereiche halten die Fallzahlen der letzten 28 Tage vor. Aktuell liegen überwiegend noch nicht genügend
        Daten vor. Es dauert daher entsprechend bis die vollen 28 Tage rückblickend betrachtet werden können.
    </p>
    <p>
        Des Weiteren kann es vorkommen, dass ein OV auf der Übersichtsseite eines anderen Regionalbereiches angezeigt wird. Das kommt genau dann vor,
        wenn in einem Kreis zwei OVs zwei verschiedenen Regionalbereichen angehören.
    </p>
    <p>
        Um die Nutzung des Dashboards zu erleichtern gibt es eine Übersichtsseite. Dort finden sich alle 412 Kreise Deutschlands mit einer Zuordnung
        zum jeweiligen THW Regionalbereich. Dadurch soll die Suche nach dem Regionalbereich für ein Kreis vereinfacht werden.
        Mithilfe der vorhandenen Suche lässt sich die Liste einfach durchsuchen. Eine Sortierung von A bis Z und umgekehrt existiert nicht.
        Hinter dem hinterlegten Regionalbereich verbirgt sich entsprechend ein Link zu dem jeweiligen Dashboard des Regionalbereiches.
    </p>

    <p>
        <h4>Feedback?</h4>
        Falls es Anregungen, Kritik oder sonstige Anfragen gibt bitte an folgende E-Mailadresse:
    <a href="#" class="cryptedmail"
        data-name="dashboard"
        data-domain="thw-bornheim"
        data-tld="de"
        onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;"></a>
    </p>
</section>

{% endblock %}
