{% extends "base.html" %}
{% load static %}
{% block content %}
{% static "" as baseUrl %}
<!-- <meta http-equiv="refresh" content="120"> -->
<div id="container">
  <div>
    <table id="RBTable">
      <tr class="trshowing">
        <th class="thshowinghead" colspan="3">Fallzahlen vom {{ rb_name }} vom </th>
        <th class="thshowing" colspan="2">{{ date }}
        </th>
      </tr>
      <tr class="trshowing">
        <td class="thshowing" onclick="sortTable(0,1,'RBTable',{{rb_data | length}})" onmouseover="" style="cursor: pointer;"><strong>Kreis</strong></td>
        <td class="thshowing" onclick="sortTable(1,1,'RBTable',{{rb_data | length}})" onmouseover="" style="cursor: pointer;"><strong>Ortsverbände</strong></td>
        <td class="thshowing" onclick="sortTable(2,0,'RBTable',{{rb_data | length}})" onmouseover="" style="cursor: pointer;"><strong>7-Tage-Inzidenz<p style="font-size: 11px;">(pro 100.000 Einwohner)</p></strong></td>
        <td class="thshowing"><strong>Tendenz</strong></td>
        <td class="thshowing"><strong>Phase</strong></td>
      </tr>

      {% for key in rb_data %}
      <tr class="trshowing">
        <td class="tdshowing">{{ key.gen }}</td>
        <td class="tdshowing">{{ key.ovs }}</td>
        <td class="tdshowingrest">{{ key.cases|floatformat }}</td>
        <td class="tdshowingrest">{% autoescape off %} {{ key.change }} {% endautoescape %}</td>
        <td class="tdshowingrest" style="background-color: {{ key.color }}">{{ key.phase }}</td>
      </tr>
      {% endfor %}
      <tr class="trshowing">
        <th class="thshowinglegend" colspan="5">Nachbarkreise</td>
      </tr>
      {% for key in neighbor_data %}
      <tr class="trshowing">
        <td class="tdshowing" colspan="2">{{ key.gen }}</td>
        <td class="tdshowingrest">{{ key.cases|floatformat }}</td>
        <td class="tdshowingrest">{% autoescape off %} {{ key.change }} {% endautoescape %}</td>
        <td class="tdshowingrest" style="background-color: {{ key.color }}">{{ key.phase }}</td>
      </tr>
      {% endfor %}
    </table>

    <table>
      <tr class="trshowing">
        <th class="thshowinglegend" colspan="2">Farblegende</th>
      </tr>
      <tr class="trshowing">
        <td class="tdshowing" style="background-color:#FF0000">>350 Fälle</td>
        <td class="tdshowing" style="background-color:#FF0000">Phase 1</td>
      </tr>
      <tr class="trshowing">
        <td class="tdshowing" style="background-color:#FFC300">50,1-350 Fälle</td>
        <td class="tdshowing" style="background-color:#FFC300">Phase 2</td>
      </tr>
      <tr class="trshowing">
        <td class="tdshowing" style="background-color:#94D302"><50 Fälle</td>
        <td class="tdshowing" style="background-color:#94D302">Phase 3</td>
      </tr>
      <tr class="trshowing">
        <th class="thshowinglegend" colspan="2">Legende Tendenz</th>
      </tr>
      <tr class="trshowing">
        <td class="tdshowingrest">
          <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-caret-up-square-fill" fill="#FF0000"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 9a.5.5 0 0 1-.374-.832l4-4.5a.5.5 0 0 1 .748 0l4 4.5A.5.5 0 0 1 12 11H4z" />
          </svg>
        </td>
        <td class="tdshowing">steigend</td>
      </tr>
      <tr class="trshowing">
        <td class="tdshowingrest">
          <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-caret-right-square-fill" fill="#FFC300"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.5 10a.5.5 0 0 0 .832.374l4.5-4a.5.5 0 0 0 0-.748l-4.5-4A.5.5 0 0 0 5.5 4v8z" />
          </svg>
        </td>
        <td class="tdshowing">gleich</td>
      </tr>
      <tr class="trshowing">
        <td class="tdshowingrest">
          <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-caret-down-square-fill" fill="#94D302"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 4a.5.5 0 0 0-.374.832l4 4.5a.5.5 0 0 0 .748 0l4-4.5A.5.5 0 0 0 12 6H4z" />
          </svg>
        </td>
        <td class="tdshowing">fallend</td>
      </tr>
    </table>
  </div>
  <div class="table-responsive">
    <canvas id="cases-chart" style="height:500px" class="table"></canvas>
  </div>
  <div>
    Quelle: <a target="_blank"
      href="https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/RKI_Landkreisdaten/FeatureServer/0/query?where=1%3D1&outFields=OBJECTID,GEN,last_update,cases7_per_100k&returnGeometry=false&outSR=4326&f=json">RKI-API</a>
  </div>
</div>
<script>
  var cases_config = {
      type: 'line',
      data: {
        datasets: {{ dataset | safe }},
    labels: {{ label | safe }}
    },
    options: {
      maintainAspectRatio: false,
      responsive: false,
      elements: {
        point: {
          // pointStyle: 'rectRot',
          radius: 2,
          hoverRadius: 2,
        },
        line:{
          borderWidth: 1,
          fill: false,
        },
      }
    }
  };
  window.onload = function () {
    var cases_ctx = document.getElementById('cases-chart').getContext('2d');
    window.myPie = new Chart(cases_ctx, cases_config);
  };

</script>
{% endblock %}