{% extends "base.html" %}
{% load static %}
{% block content %}
{% static "" as baseUrl %}
<!-- <meta http-equiv="refresh" content="120"> -->
<input type="text" id="myInput" onkeyup="Search('LVTable',2)" placeholder="Suche nach Kreis oder OV..">
<div id="container">
  <div>
    <table id="LVTable">
      <tr class="trshowing">
        <th class="thshowinghead" colspan="3">Fallzahlen vom {{ lv_name }} {{ cases_in_lv }} vom</th>
        <th class="thshowing" colspan="2">{{ date }}
        </th>
      </tr>
      
      <tr class="trshowing">
        <td class="thshowing" onclick="sortTable(0,1,'LVTable',{{lv_data | length}})" onmouseover="" style="cursor: pointer;"><strong>Kreis</strong></td>
        <td class="thshowing"><strong>Ortsverbände</strong></td>
        <td class="thshowing" onclick="sortTable(2,0,'LVTable',{{lv_data | length}})" onmouseover="" style="cursor: pointer;"><strong>7-Tage-Inzidenz<p style="font-size: 11px;">(pro 100.000 Einwohner)</p></strong></td>
        <td class="thshowing"><strong>Tendenz</strong></td>
        <td class="thshowing"><strong>Phase</strong></td>
      </tr>

      {% for key in lv_data %}
      <tr class="trshowing">
        <td class="tdshowing">{{ key.gen }}</td>
        <td class="tdshowing">{{ key.ovs }}</td>
        <td class="tdshowingrest">{{ key.cases|floatformat }}</td>
        <td class="tdshowingrest">{% autoescape off %} {{ key.change }} {% endautoescape %}</td>
        <td class="tdshowingrest" style="background-color: {{ key.color }}">{{ key.phase }}</td>
      </tr>
      {% endfor %}
    </table>

    <table>
      <tr class="trshowing">
        <th class="thshowinglegend" colspan="2">Farblegende</th>
      </tr>
      <tr class="trshowing">
        <td class="tdshowing" style="background-color:#FF0000">>350 Fälle</td>
        <td class="tdshowing" style="background-color:#FF0000">Phase 1</td>
      </tr>
      <tr class="trshowing">
        <td class="tdshowing" style="background-color:#FFC300">50,1-350 Fälle</td>
        <td class="tdshowing" style="background-color:#FFC300">Phase 2</td>
      </tr>
      <tr class="trshowing">
        <td class="tdshowing" style="background-color:#94D302"><50 Fälle</td>
        <td class="tdshowing" style="background-color:#94D302">Phase 3</td>
      </tr>
      <tr class="trshowing">
        <th class="thshowinglegend" colspan="2">Legende Tendenz</th>
      </tr>
      <tr class="trshowing">
        <td class="tdshowingrest">
          <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-caret-up-square-fill" fill="#FF0000"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 9a.5.5 0 0 1-.374-.832l4-4.5a.5.5 0 0 1 .748 0l4 4.5A.5.5 0 0 1 12 11H4z" />
          </svg>
        </td>
        <td class="tdshowing">steigend</td>
      </tr>
      <tr class="trshowing">
        <td class="tdshowingrest">
          <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-caret-right-square-fill" fill="#FFC300"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.5 10a.5.5 0 0 0 .832.374l4.5-4a.5.5 0 0 0 0-.748l-4.5-4A.5.5 0 0 0 5.5 4v8z" />
          </svg>
        </td>
        <td class="tdshowing">gleich</td>
      </tr>
      <tr class="trshowing">
        <td class="tdshowingrest">
          <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-caret-down-square-fill" fill="#94D302"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 4a.5.5 0 0 0-.374.832l4 4.5a.5.5 0 0 0 .748 0l4-4.5A.5.5 0 0 0 12 6H4z" />
          </svg>
        </td>
        <td class="tdshowing">fallend</td>
      </tr>
    </table>
  </div>
  <div>
    Quelle: <a target="_blank"
      href="https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/RKI_Landkreisdaten/FeatureServer/0/query?where=1%3D1&outFields=OBJECTID,GEN,last_update,cases7_per_100k&returnGeometry=false&outSR=4326&f=json">RKI-API</a>
  </div>
</div>
{% endblock %}