{% extends "base.html" %}
{% load static %}
{% block content %}
{% static "" as baseUrl %}
<h5>Für eine Verlaufsgrafik den Regionalbereich oder das Bundesland und einen Zeitraum auswählen</h5>
<form action="/statistiken/" method="post">
    {% csrf_token %}
    {{ form }}
    <label for="begin_date">Begin:</label>
    <input type="date" id="begin_date" name="begin_date">
    <label for="end_date">Ende:</label>
    <input type="date" id="end_date" name="end_date">
    <input type="submit" value="Absenden">
</form>

{% if method %}
<h4>Zeitraum von {{ begin }} bis {{ end }}</h4>
<div class="table-responsive">
    <canvas id="cases-chart" style="height:400px" class="table"></canvas>
</div>

<script>
    var cases_config = {
        type: 'line',
        data: {
          datasets: {{ dataset | safe }},
      labels: {{ label | safe }}
      },
      options: {
        maintainAspectRatio: false,
        responsive: false,
        elements: {
          point: {
            // pointStyle: 'rectRot',
            radius: 2,
            hoverRadius: 2,
          },
          line:{
            borderWidth: 1,
            fill: false,
          },
        }
      }
    };
    window.onload = function () {
      var cases_ctx = document.getElementById('cases-chart').getContext('2d');
      window.myPie = new Chart(cases_ctx, cases_config);
    };
  
  </script>
{% endif %}
{% endblock %}
