{% extends "base.html" %}
{% load static %}
{% block content %}
{% static "" as baseUrl %}
<h5>Zuordnung der Kreise zu den THW Regionalbereichen</h5>

<input type="text" id="myInput" onkeyup="Search('LVTable',1)" placeholder="Suche nach Kreis">
<div id="container">
    <div>
      <table id="LVTable">
        <tr class="trshowing">
          <td class="thshowing"><strong>Kreis</strong></td>
          <td class="thshowing"><strong>Regionalbereich</strong></td>
        </tr>
  
        {% for key, value in lv_data.items %}
        <tr class="trshowing">
          <td class="tdshowing">{{ key }}</td>
          <td class="tdshowing"><a href="{{ host }}{{ value.LV }}/{{ value.cRB }}">{{ value.RB }}</a></td>
        </tr>
        {% endfor %}
      </table>
{% endblock %}
